.advantages > .advantages__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-left: var(--padding-gray) + 10px;
}

.advantages__title {
  flex-basis: 50%;
  max-width: 480px;
}

.advantages__list {
  flex-basis: 50%;
}

.advantages__item {
  margin-bottom: 32px;
  padding-left: 32px;
  font-size: 24px;
  line-height: 1.3;
  background-image: url('../assets/images/star.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 16px;
  text-transform: uppercase;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 1240px) {
  .advantages__title {
    max-width: 330px;
  }

  .advantages__item {
    font-size: 20px;
  }
}

@media (max-width: 920px) {
  .advantages > .advantages__container {
    flex-direction: column;
    padding: 0 54px;
  }

  .advantages__title {
    max-width: 440px;
    margin-bottom: 24px;
  }

  .advantages__item {
    margin-bottom: 16px;
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .advantages__title {
    max-width: 268px;
    margin-bottom: 16px;
  }

  .advantages__item {
    font-size: 14px;
  }

  .advantages > .advantages__container {
    padding: 0 26px;
  }
}