.calculator__container {
  display: flex;
  gap: var(--gap);
}

.calculator__content {
  width: var(--width-block);
}

.calculator__title {
  margin-bottom: 32px;
}

.calculator__fieldset {
  border: 0;
}

.calculator__fieldset_sizes {
  margin-bottom: 32px;
  display: flex;
  gap: 10px;
}

.calculator__text {
  margin-bottom: 2px;
  font-size: 12px;
  color: var(--input-label-text);
}

.calculator__input-number {
  display: block;
  width: 100%;
  padding: 15px 25px;
  border: 1px solid var(--input-border);
  border-radius: 12px;
  background-color: var(--background);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
}

.calculator__input-number::-webkit-inner-spin-button {
  display: none;
}

.calculator__input-number:hover, .calculator__input-number:focus {
  border: 1px solid var(--primary-color);
}

.calculator__fieldset_plans {
  margin-bottom: 65px;
}

.calculator__text-legend {
  margin-bottom: 16px;
}

.calculator__wrapper-input-plans {
  margin-right: 16px;
  display: inline-flex;
  cursor: pointer;
}

.calculator__wrapper-input-plans:last-child {
  margin-right: 0;
}

.calculator__input-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
  outline-color:var(--primary-color);
  cursor: pointer;
}

.calculator__input-radio:hover {
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}

.calculator__input-radio::before {
  content: '';
  position: absolute;
  inset: 0; /*= top 0, right 0, bottom 0, left 0*/
  background-color: var(--background);
  border: 1px solid var(--input-border);
  border-radius: 50%;
}

.calculator__input-radio::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: scale(0.33);
  background-color: var(--main-color);
  border-radius: 50%;
  opacity: 0;
}

.calculator__input-radio:checked::after {
  opacity: 1;
}

.calculator__label-radio {
  text-transform: uppercase;
}

.calculator__btn-submit:hover {
  background-color: var(--primary-hover);
  border: 1px solid var(--border-primary-hover);
}

.calculator__total {
  width: var(--width-block);
  display: flex;
  align-items: flex-end;
  padding: var(--padding);
  background: #333 url('../assets/images/calculator-img.webp') center/cover no-repeat;
  border-radius: 12px;
}

.calculator__result-wrapper {
  display: none;
  flex-basis: 303px;
  padding: 24px;
  background-color: var(--background);
  border-radius: 8px;
}

.calculator__result {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 20px;
}

.calculator__result:last-child {
  margin-bottom: 0;
}

@media (max-width: 1240px) {
  .calculator__title {
    margin-bottom: 24px;
  }

  .calculator__fieldset_sizes {
    margin-bottom: 24px;
  }

  .calculator__fieldset_plans {
    margin-bottom: 34px;
  }
}

@media (max-width: 920px) {
  .calculator__container {
    flex-direction: column;
  }

  .calculator__content {
    width: 100%;
  }

  .calculator__total {
    width: 100%;
    min-height: 220px;
    align-items: flex-start;
  }

  .calculator__input-number {
    padding: 6px 16px;
  }

  .calculator__wrapper-input-sizes {
    width: 50%;
  }

  .calculator__fieldset_plans {
    margin-bottom: 36px;
  }

  .calculator__label-radio {
    font-size: 14px;
  }

  .calculator__text-legend {
    margin-bottom: 8px;
  }
  
}

@media (max-width: 560px) {
  .calculator__title {
    margin-bottom: 16px;
  }

  .calculator__fieldset_sizes {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .calculator__wrapper-input-sizes {
    width: 100%;
  }

  .calculator__fieldset_plans {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  } 

  .calculator__total {
    min-height: auto;
  }

  .calculator__result-wrapper {
    padding: 16px;
  }

  .calculator__result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  .calculator__wrapper-input-plans {
    margin-right: 0;
  }
}