.footer {
  padding-bottom: 40px;
}

.footer__container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 40px 126px;
  grid-template-areas: 
  'logo social contact'
  'copyright . developers';

  padding-top: 50px;
  margin-top: 40px !important;
  border-top: 2px solid var(--border);
}

.footer__logo {
  grid-area: logo;
}

.footer__list {
  display: flex;
}

.footer__social{
  grid-area: social;
  gap: 24px;
  justify-self: end;
  padding-top: 8px;
}

.footer__contact{
  grid-area: contact;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;
}

.footer__copyright{
  grid-area: copyright;
}

.footer__developers{
  grid-area: developers;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
}

.footer__svg {
  fill: var(--main-color);
  transition: 0.3s all;
}

.footer__svg:hover {
  fill: var(--link-hover);
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s all;
}

.footer__link:hover {
  color: var(--link-hover);
  text-decoration: underline;
}