.header {
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.header__btn {
  border: 1px solid var(--main-color);
  background-color: transparent;
}

.header__btn:hover {
  background-color: var(--btn-second-hover);
  border: 1px solid var(--btn-second-hover);
}