.hero {
  overflow: hidden;
}

.hero__container {
  display: flex;
  gap: var(--gap);
  position: relative;
}

.hero__content {
  width: var(--width-block);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__slider-block {
  position: absolute;
  /* left: calc(var(--width-block) + var(--gap) / 2); */
  left: calc(var(--width-block) + var(--gap) + 7px);
  width: calc(((var(--width-block) + var(--gap)) * 2) - var(--gap)); /* 'x2' means how many sliders we want to show */
}

.hero__title {
  margin-bottom: 32px;
}

.hero__description {
  margin-bottom: 32px;
  flex-grow: 1;
  text-transform: uppercase;
}

.hero__slider {
  position: relative;
}

.hero__arrows {
  position: absolute;
  left: calc(var(--width-slide) - 50px);
  transform: translateX(-100%);
  bottom: 50px;
  display: flex;
  gap: 8px;
  z-index: 2;
}

.hero__link:hover, .hero__slider-btn:hover {
  background-color: var(--primary-hover);
  border: 1px solid var(--border-primary-hover);
}

.hero__image {
  width: var(--width-slide);
  height: var(--height-slide);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.hero__slider-btn {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background: var(--primary-color) url('../assets/images/slider-arrow.svg') no-repeat center;
  transition: 0.3s all;
  cursor: pointer;
}

.hero__slider-btn_prev {
  transform: rotate(180deg);
}