.hero__container {
  display: flex;
  gap: 10px;
}

.hero__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 32px;
}

.hero__description {
  margin-bottom: 32px;
  flex-grow: 1;
  text-transform: uppercase;
}

.hero__slider {
  position: relative;
}

.hero__arrows {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  gap: 8px;
}

.hero__link:hover, .hero__slider-btn:hover {
  background-color: var(--primary-hover);
  border: 1px solid var(--border-primary-hover);
}

.hero__slider-block {
  flex-basis: 50%;
}

.hero__image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.hero__slider-btn {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background: var(--primary-color) url('../assets/images/slider-arrow.svg') no-repeat center;
  transition: 0.3s all;
  cursor: pointer;
}

.hero__slider-btn_prev {
  transform: rotate(180deg);
}