:root {
  --width-slide: 590px;
  --gap: 10px;
  --width-block: calc(50% - var(--gap)/2);
  --padding: 50px;
}

@media (max-width: 1240px) {
  :root {
    --padding: 30px;
    --width-slide: 440px;
  }
}

@media (max-width: 920px) {
  :root {
    --padding: 24px;
    --width-slide: 311px;
  }
}

@media (max-width: 560px) {
  :root {
    --padding: 20px;
    --gap: 4px;
  }
}